<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>

  <key>CFBundleName</key>
  <string>Pica Pica Messenger</string>
  
  <key>CFBundleDisplayName</key>
  <string>Pica Pica Messenger</string>

  <key>CFBundleIconFile</key>
  <string>picapica.icns</string>

  <key>CFBundlePackageType</key>
  <string>APPL</string>

  <key>CFBundleGetInfoString</key>
  <string>0.7.0, Copyright © 2012 - 2019 Anton Sviridenko</string>

  <key>CFBundleShortVersionString</key>
  <string>0.7.0</string>

  <key>CFBundleVersion</key>
  <string>0.7</string>

  <key>CFBundleSignature</key>
  <string>????</string>

  <key>CFBundleExecutable</key>
  <string>PicaPicaMessenger</string>

  <key>CFBundleIdentifier</key>
  <string>im.picapica.pica-client</string>

</dict>
</plist>
